.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60vh;
    background-color: #212e42;
}

.left-column {
    width: 100%;
    padding: 20px;
    background-color: #1c1f2c;
    transform: translateY(100%);
}

.right-column {
    width: 100%;
    padding: 20px;
    background-color: #1c1f2c;
    transform: translateY(100%);
}

.xgboost-points {
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    opacity: 0;
}

.image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    opacity: 0;
}
.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
  }

 .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }

.information {
    background-color: #1d2228;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px; /* Add margin between information div and images */
}

.information h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.information p {
    font-size: 16px;
    line-height: 1.5;
}


/* Initial state */
.container .left-column,
.container .right-column {
    transform: translateY(100%);
}

.container .xgboost-points,
.container .image {
    opacity: 0;
}

/* Animation */
@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
